/********************************************
 * For BAT
 * Author: 
 * Update: 
 *
 *********************************************/

html,body{
	margin,padding:0;
	text-align:left;
}

#hhd {

	
	width: 100%;
}
#hhd_home {

	height: 900px;
	width: 100%;
}
#banner {
	background:url(./images/header.jpg) no-repeat 0 0;
	margin: 0 auto;
	width: 1024px;
	height: 204px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
	cursor:pointer;
}

.banner_style {
	background:url(./ham2/header.jpg) no-repeat 0 0;
	margin: 0 auto;
	width: 1024px;
	height: 204px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
	margin-top: 5px;
	
}
.configuration_link {
	float: right;
	margin-top: 170px;
	margin-right: 10px;
	 font-family: 微软雅黑,arial,sans-serif;
    font-size: 20px;

}
#foot {
	background:url(./images/footer.jpg) no-repeat 0 0;
	margin: 0 auto;
	width: 1024px;
	height: 50px;
	margin-top: -10px;
	line-height:35px;
}
#banner .title {
	
    float: left;
    font-family: arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 28px;
    padding: 10px 0 0 50px;
}
.panel_footcss
{
	float: left;
	background:#DCDCDC;
	height: 30px;
    width: 99.85%;
	border: 1px solid #AAAAAA;
	margin-top: 10px;
	margin-bottom: -18.18px;
	}
.statistic_result_word
{
	font-weight: bold;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.15em;
	margin-top: 10px;
	margin-left: 10px;
}
#hbd .community {
	float: left;
	background: no-repeat 0 0;	
	height: 510px;
    width: 100%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}
#analytic_container {
	float: left;
	background: no-repeat 0 0;	
	height: 510px;
    width: 100%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}
#statistics_result {
	float: left;
	background:url(./ham2/tab_content.jpg) repeat 0 0;
	height: 40px;
    width: 100%;
	border: 1px solid #AAAAAA;
	border-radius: 8px;
	margin-top: -0.855px;
	margin-left: -1px;
}

#blog-bootstrap-container
{
	float: left;
	
	height: 270px;
    width: 100%;
	border: 0px solid #AAAAAA;
	padding-top: 10px;
	padding-left: 50px;
}

.file_set
{
	float: right;
	
	height: 15px;
    width: 85%;
	border: 0px solid #AAAAAA;
	padding-top: 30px;
	margin-left: 120px;
}
#config_panel {
	float: left;
	background:url(./ham2/tab_content.jpg) repeat 0 0;
	height: 40px;
    width: 100%;
	border: 1px solid #AAAAAA;
	margin-top: -0.855px;
	margin-left: -1px;
}
#hbd .community_left {
	float: left;
	background: no-repeat 0 0;	
	height: 600px;
    width: 100%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: -2px;
}

#hbd .community_left_configuraion {
	float: left;
	background: no-repeat 0 0;	
	height: 380px;
    width: 71%;
	border: 1px solid #AAAAAA;
	margin-top: 10px;
	margin-left: 10px;
}
#hbd .community_lefttop {
	float: left;
	background: no-repeat 0 0;	
	
    width: 60%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;

	margin-top: 30px;
}
#hbd .community_leftdown {
	float: left;
	background: no-repeat 0 0;	
    width: 60%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;

	margin-top: 20px;
}
#hbd .community_righttop {
	float: left;
	background: no-repeat 0 0;	
	height: 380px;
    width: 24%;
    border-radius: 8px;
	border: 4px solid #AAAAAA;
	margin-left: 16px;
	margin-top: 20px;
}

#hbd .community_rightdown {
	float: left;
	background: no-repeat 0 0;	
	height: 400px;
    width: 30%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
	margin-left: 50px;
	margin-top: 20px;
}

.analytic_hot_topic_tag {
	float: center;
	background: no-repeat 0 0;	
	height: 100px;
    width: 97%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
    margin-left: 10px;
	margin-top: 20px;
}


.analytic_related_blog {
	float: left;
	background: no-repeat 0 0;	
	height: 500px;
    width: 28%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
    margin-left: 10px;
	margin-top: 20px;
}

.analytic_track {
	float: left;
	background: no-repeat 0 0;	
	height: 500px;
    width: 67%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
    margin-left: 12px;
	margin-top: 20px;
}


.analytic_personal_profile {
	float: left;
	background: no-repeat 0 0;	
	height: 500px;
    width: 97%;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
    margin-left: 10px;
	margin-top: 20px;
}


.menu {
    background: none repeat-y scroll 0 0 #000000;
    cursor: pointer;
    display: none;
    height: 500px;
    left: 0%;
    top: 150px;
    width: 50px;
    opacity: 0.5;
    position: fixed;
    display:block;
    border-radius: 0px 8px 8px 0px;
}

.menu-open {
    background: none repeat-y scroll 0 0 #000000;
    cursor: pointer;
    display: none;
    height: 500px;
    left: 0%;
    top: 150px;
    width: 100px;
    opacity: 0.5;
    position: fixed;
    display:block;
    border-radius: 0px 8px 8px 0px;
}

#icon{
	padding: 10px 0 0 10px;
	display:block;
}

#weibo-icon{
	background:url(./images/weibo.jpeg) no-repeat 0 0;	
}

#qqweibo-icon{
	background:url(./images/qqweibo.jpeg) no-repeat 0 0;
}
.source-icon{
	width: 60px;
	height: 60px; 
	border-radius: 6px 6px 6px 6px;
	display:block;
	background-size: 100% !important;
	margin-top: 30px;
}
label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
#hbd .community:hover {
	/* float: left;
	background:url(img/index_community_click.jpg) no-repeat 0 0;	 
	width: 237px;
	height: 144px; */ 
	border: 4px solid #0c90dd;/* #015C91; */
	cursor: pointer;
}

#banner .text_full {
	/* width: 610px; */
	clear: both;
	margin-left: 170px;
	margin-top: 70px;	
	float: left;	
	color: #ffffff;
	font-size: 14px;
	font-family: arial,sans-serif;
	font-weight: bold;
	padding: -55px 0px 20px 540px;
	width: 300px;
}


#banner .text_description {
	clear: both;
	width: 400px; 
	margin-left: 170px;
	margin-top: 8px;
	float: left;	
	color: #ffffff;
	text-align: left;
	font-size: 12px;
	font-family: arial,sans-serif;
	font-weight: bold;
	padding: -50px 0px 20px 540px;
}

#hbd_container{
	
	width: 100%;	
	height: 540px;
}

#hbd {
	margin-left: 157px;	
	width: 1024px;
	height: 414px;
	margin: 0 auto;
}

#hbd .bk{
	float: left;
	width: 35px;
	height: 125px;
	
}

#hbd .content {	
	width: 1250px;
	height: 414px;
	margin: 0 auto;
}

#hbd .blankTop{
	width: 1093px;
	height: 23px;
	margin: 0 auto;
	background: url(img/index_bg_top.jpg) no-repeat 0 0;
}

.text_title{
	color: #FFFFFF;
    font-family: arial,sans-serif,Segoe UI;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    display:table;
    margin-left: 65px;
    margin-top: 8px;
    width: 125px;
}

.text_title_vertical{
	vertical-align:middle;
  	display:table-cell;
}

.text_content{
	float: left;	
	color: #000000;
	font-size: 11px;
	font-family: arial,sans-serif,Segoe UI;
	margin-left: 5px;
    text-align: left;
    width: 190px;
    height: 40px;
    margin-top: 6px; 
}

#hbd .subtitle_ico {
 	background:url(img/index_subtitle_arrow.png) no-repeat 0 0;
 	height: 15px;	
 	width: 13px;
 	margin-bottom: 10px;
}

.text_subtitle {
	color: #000000;
	font-size: 15px;
	font-family: arial,sans-serif,Segoe UI;
	font-weight: bold;
    height: 15px;
    width: 500px;
    margin-left: 15px;
    text-align: left;
}



#hbd .profile {
	float: left;
	background:url(img/index_profile.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}

#hbd .pattern {
	float: left;
	background:url(img/index_pattern.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}

#hbd .blankCenter{
	clear: both;
	width: 1093px;
	height: 17px;
	margin: 0 auto;
	background: url(img/index_bg_center.jpg) no-repeat 0 0;
}

#hbd .action {
	clear:both;
	/* margin-left: 12px; */
	background:url(img/index_actions.png) no-repeat 0 0;
	height: 23px;
	width: 90px;
}

#hbd .marketing {
	float: left;
	background:url(img/index_marketing.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}

#hbd .marketing:hover {
	border: 4px solid #0c90dd;//015C91;
	cursor: pointer;
}

#hbd .targeting {
	float: left;
	background:url(img/index_targeting.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}

#hbd .prevention {
	float: left;
	background:url(img/index_prevention.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}

#hbd .recommendation {
	float: left;
	background: url(img/index_recommendation.png) no-repeat 0 0;
	width: 199px;
	height: 125px;
	border: 4px solid #DCDCDC;
	border-radius: 8px;
}
.table {
	margin-top: 10px;
	width: 330px;
	overflow: hidden;
	border: 1px solid #c9ccd0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	background-image: -moz-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -ms-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -o-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fbfbfb), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: linear-gradient(top, #fbfbfb, #e7e7e7);
	
}

.table-title {
	color: #666;
	background-image: -moz-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -ms-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -o-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fbfbfb), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #e7e7e7);
	background-image: linear-gradient(top, #fbfbfb, #e7e7e7);

}


.table-title ul {
	margin: 0px;
	padding: 0px;
}

.table-title ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	font-size: 15px;
}

.table-title table .title td {
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 15px;
}

.table-title table .weibo-content td  {
	padding: 5px 5px 5px 5px;
	text-align: left;
	font-size: 10px;
}

.table-title table tr td.first {
	padding-top: 7px;
}


.table-title table tr td.last {
	padding-top: 7px;
	width:99px;
}

#sidebar .table-con {
	height: 327px;
	color: #808080;
}

.table-con table tr.active {
	background-color: #0088cc;
	color: #fff;
}

.table-con table tr td {
	text-align: center;
}
.flotcontainer {
    width: 600px;
    height: 400px;
    text-align: left;
}
h1 { padding: .2em; margin: 0; }
	#total_list { float:left; width: 100%;height:500px; margin-right: 2em; }
	#cart { width: 200px; float: left; margin-top: 1em; }
	/* style the list to maximize the droppable hitarea */
	#cart ol { margin: 0; padding: 1em 0 1em 3em; }

.config_textarea
{
	overflow:auto;
	margin-left: 15px; 
	margin-top: 15px;
	width:94%; 
	height:150px;
	font-weight: normal;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.5em;
	color:#000000;
	
}
.ui-accordion .ui-accordion-content{
	padding: 0em 0em !important;
	border-top: 0;
}

.entry{
	padding-left: 15px; 
	padding-bottom:5px;
	
}
.ui-accordion .ui-accordion-content {
	overflow:hidden;
	}

.entry1{
	padding-left: 15px; 
	padding-bottom:5px;
	background:#FAFAFA;
}

.entry div div{
	display: inline;
}

.entry1 div div{
	display: inline;
}

.entry_list{
	height:368px;
}
.totalNumcss{
	background: none;
	display: inline;
	width:50px; 
	height:50px;
}
#dialog-markhandled div {
	text-align: center;
}
#dialog-markhandled div label{
	display: inline;
	margin-right: 30px; 
}
#dialog-markhandled div input{
	display: inline;
}
.statistic_img_Link
{
	margin-left: 30px; 
	margin-top: 15px;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
	font-weight: bold;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.1em/*{fsDefault}*/;

	min-height: 0; /* support: IE7 */
}


.list_title
{
	display: block;
	height:40px;
	line-height:40px;
	font-size: 1.1em/*{fsDefault}*/;
	font-weight: normal;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
}
.ui-widget-content a {
	color:#0000AA;
}

.list_detail
{
	font-size: 1em/*{fsDefault}*/;
	font-weight: normal;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
	color:#696969;
}
.hr_style
{
	height:0px;
	margin-top: 1px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
border-top: 0px solid #eee;
border-bottom: 2px solid #eee;

}
.list_handlebutton
{
	float: right;
	margin-right:15px;
	margin-top:-25px;
}

.list_status
{
	font-size: 1em/*{fsDefault}*/;
	font-weight: normal;
	font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
	color:#8B4726;
	}
.pagination {
margin: 0 0;
}
.descriptionBox {
	word-wrap: break-word; 
	word-break: normal; 
	position: absolute;
	
	background-color: #F2F2F2;	
	height: 200px;
    width: 265px;
    padding: 10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    line-height: 22px;
	border-radius: 12px;
}

.person_image {
	background:url(./images/person.jpg) no-repeat 0 0;
	position: absolute;	
	height: 96px;
    width: 96px;
    padding: 10px 10px 10px 10px;
    margin:247px 10px 10px 468px;
	border-radius: 12px;
}

.descriptionLabel {
	float: left;
    font-size: 1em/*{fsDefault}*/;
    font-weight: normal;
    font-family: 微软雅黑,Verdana,Arial,sans-serif/*{ffDefault}*/;
    color:#218868;
}

.display_bar {
    background:#AAAAAA;
    float:left;
    width: 120px;
}

progress::-webkit-progress-bar { background: #CCCCCC; }
progress::-webkit-progress-value { background: #2828FF; }